* {
    background: url("https://i.imgur.com/EyZ9NFA.jpeg");
    font-size: 16px;
}

.center-25p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.center-50p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid #4290fc;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: #eee;
}
#t01 tr:nth-child(odd) {
    background-color: #282828;
}
#t01 th {
    background-color: #4290fc;
    color: #050505;
}